<h1><%= @dish.name %></h1>
<p>Description: <%= @dish.description%></p>

<h2>Ingredients</h2>

<% @dish.ingredients.each do |ingredient| %>
  <p>Ingredient name: <%= ingredient.name %></p>
  <p>Calories: <%= ingredient.calories %></p>
<% end %>

<p> Total Calories: <%= @dish.total_calories %></p>

<%= form_with url: "/dishes/#{@dish.id}/ingredients", method: :post, local: true, data: { turbo: false } do |form| %>
  <%= form.label :ingredient_id %>
  <%= form.text_field :ingredient_id %>
  <%= form.submit "Add Ingredient" %>
<% end %>