<div id="dish_info">
    <h1><%= @dish.name %></h1>
    <p><%= @dish.description %></p>
    <p>Chef: <%= @dish.chef.name %>
    <p>Total Calories: <%= @dish.total_calories %></p>
</div>

<div id="ingredients">
    <h2>Ingredients</h2>
    <ul>
        <% @dish.ingredients.each do |ingredient| %>
            <li><%= ingredient.name %></li>
        <% end %>
    </ul>
</div>

<div id="add_ingredient">
    <h2>Add an Ingredient</h2>
    <%= form_with(url: dish_dish_ingredients_path(@dish), method: :post, local: true) do |form| %>
    <div>
        <%= form.label :ingredient_id, "Ingredient ID" %>
        <%= form.number_field :ingredient_id %>
    </div>
    <div>
        <%= form.submit "Submit" %>
    </div>
    <% end %>
</div>