<h3>Dish</h3>
    <div>
      <%= "Name: #{@dish.name}" %><br>
      <%= "Description: #{@dish.description}" %><br>
      <%= "Ingredients: " %>
      <% @dish.ingredients.each do |ingredient| %>
        <%= "#{ingredient.name}," %>
      <% end %><br>
      <%= "Chef: #{@dish.chef.name}" %>
    </div><br>

