<div id="dish_info">
  <h1>Name: <%= @dish.name %></h1>
  <p>Description: <%= @dish.description %></p>
  <h2>Ingredients: <% @dish.ingredients.each do |ingredient| %></h2>
    <h3><%= ingredient.name %></h3>
  <% end %>
  <h2>Calorie Count: <%= @dish.ingredients.calorie_count %><h2>
  <h2>Chef: <%= @dish.chef.name %></h2>
</div>

<div id="ingredient_form">
    <%= form_with url: dish_dish_ingredients_path(@dish.id), method: :post, data: {turbo:false} do |f| %>
      <%= f.label :ingredient_id, "Ingredient ID" %>
      <%= f.number_field :ingredient_id %>
      <%= f.submit "Submit" %>
    <% end %>
</div>