<h1>Name: <%= @dish.name %></h1>
<h3>Name: </h3><%= @dish.description %>
<h3>Ingredients: </h3>
<% @dish.ingredients.each do |ingredient| %>
  <div id="ingredient-<%= ingredient.id %>">
    <p> Name: <%= ingredient.name %> </p>
    <p> Calories: <%= ingredient.calories %> </p>
  </div>
<% end %>