<h2>Dish</h2>

<div>
  <%= "Name: #{@dish.name}" %><br>
  <%= "Description: #{@dish.description}" %><br>
  <%= "Ingredients: " %>
  <% @dish.ingredients.each do |ingredient| %>
    <%= "#{ingredient.name}," %>
  <% end %><br>
  <%= "Calorie Count: #{@dish.calories}" %><br>
  <%= "Chef: #{@dish.chef.name}" %>
</div><br>

<h3> Add a Ingredient </h3>
<%= form_with url: "/dishes/#{@dish.id}/ingredients", method: :post, local: true do |f| %>
  <%= f.label :Add_Ingredient %>
  <%= f.text_field :ingredient %>
  <%= f.submit "Submit" %>
<% end %>

