<h1><%= @dish.name %></h1>
<p>Description: <%= @dish.description %></p>

<h3> Ingredients: </h3>
  <% @dish.ingredients.each do |ingredient| %>
  <ul>
    <li><%= ingredient.name %></li>
  </ul>  
  <% end %>

<h3> Total Calories: <%= @dish.calorie_count %></h3>

<h3> Chef: <%= @dish.chef.name %></h3>

<h3> Add Ingredient to Dish </h3>
<%= form_with url: "/dishes/#{@dish.id}/dish_ingredients", method: :post, local: true do |f| %>
<%= f.label "Ingredient id" %>
<%= f.number_field :ingredient_id %>
<%= f.submit "Submit" %>
<% end %>